{% extends 'base.html.twig' %}

{% block title %}Amazon Lockers{% endblock %}

{% block body %}
    <div class="row text-center">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('img/amazon-locker.png') }}" alt="Amazon Locker"/>
        </a>
    </div>
    <h1>Welcome to Amazon Lockers</h1>

{% endblock %}